{% extends 'index.html'%}
{% load static %}

{% block title %}OTP{% endblock  %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/otpRegistration.css' %}" />
</head>
<body>
    <form id="verification_form" class="form" method="post" action="{% url 'otp' id=user.id %}">
        {% csrf_token %}
           
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to your number</span> </div>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">  {{ form.as_p }}  </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
{% endblock %}